set $room_service_host ${ROOM_SERVICE_HOST};

# Block API endpoint for creating rooms
location ~ /room-service/rooms/?$ {
  return 403;
}

location /room-service/ {
  proxy_pass $room_service_host;
}
